<ion-header>
  <ion-toolbar>
    <ion-title>PWA Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Take a photo or use the gallery</h2>

  <ion-button (click)="openPicker()">Let's go!</ion-button>

  <div *ngIf="imageUri">
    <img [src]="imageUri" #imageSrc style="width: 200px;">
  </div>

  <div id="pwa">
    <input type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPhoto()">
  </div>
</ion-content>
